//- Indentation most imp
html 
head 
    title PUG Example 
body 
    h1 HELLLO WORLD! 
    p hello students 
    i thank you for hanging in there 
    h5(style ="text-transform:uppercase ; color:purple;") HELLO
    a(href='/about' target="_blank") ABOUT
    br
    br

    table(border="1px solid black" style="border-collapse:collapse; color:red")
        tr  
            th NAME 
            th ID 
        tr  
            th ૧
            th a
    br
    -var number=2
    -var color="black" 
    -var list=["india","uk"] 

    h4= "9 times number is : " +number*9 
    h4="i like "+ color +" color"
    h3="Country "+list[0]  




